<section class="bg-gray-50 min-h-screen flex items-center justify-center">
    <!-- recovery container -->
    <div class="bg-gray-100 flex rounded-2xl shadow-lg max-w-3xl p-5 items-center">
      <!-- form -->
      <div class="md:w-1/2 px-8 md:px-16">
        <h2 class="font-bold text-2xl text-[#002D74]">Recuperación de contraseña</h2>
        <p class="text-xs mt-4 text-[#002D74]">Ingresa tu correo para recuperar tu contraseña</p>
  
        <form (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
          <input class="p-2 rounded-xl border" type="email" [(ngModel)]="recuperacionData.correo" name="correo" placeholder="Email" autocomplete="username" required>
          <input class="p-2 rounded-xl border" type="password" [(ngModel)]="recuperacionData.currentPassword" name="currentPassword" placeholder="Contraseña actual" autocomplete="current-password" required>
          <input class="p-2 rounded-xl border" type="password" [(ngModel)]="recuperacionData.contrasena" name="contrasena" placeholder="Nueva contraseña" autocomplete="new-password" required>
          <button type="submit" class="bg-[#002D74] rounded-xl text-white py-2 hover:scale-105 duration-300">Cambiar contraseña</button>
        </form>
  
        <div class="mt-3 text-xs flex justify-between items-center text-[#002D74]">
          <p>Recuerdas tu contraseña?</p>
          <button (click)="navigateToLogin(); $event.preventDefault()" class="py-2 px-5 bg-white border rounded-xl hover:scale-110 duration-300">Login</button>
        </div>
      </div>
  
      <!-- image -->
      <div class="md:block hidden w-1/2">
        <img class="rounded-2xl" src="https://images.unsplash.com/photo-1616606103915-dea7be788566?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80">
      </div>
    </div>
  </section>